<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lsl书城--个人中心</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!--顶部导航-->
<nav class="light-blue accent-1">
    <div class="nav-wrapper ">
        <!--左侧logo-->
        <a href="#!" class="brand-logo blue-text  ">LSL</a>
        <ul class="hide-on-med-and-down col right">
            <li><a href="/">首页</a></li>
            <li><a href="/shop">出售图书</a></li>
            <li><a href="https://github.com/LSLWind/book-sale-system">GitHub地址</a></li>
            <li><a href="#!">项目详细文档</a></li>

            <li th:if="${customer!=null}">
                <a class="dropdown-button" href="#!" data-activates="dropdown1">
                    <img class="responsive-img circle " th:src="@{${customer.headImg}}" style="width: 50px;height: 50px">
                    <i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li th:if="${customer==null}">
                <a class="waves-effect waves-light btn" th:href="'/customer/loginPage'">登录/注册</a>
            </li>
        </ul>
        <ul id="dropdown1" class="dropdown-content" th:if="${customer!=null}">
            <li><a th:href="'/cart/'+${customer.id}">购物车</a></li>
            <li><a th:href="'/customer/'+${customer.id}">个人中心</a></li>
            <li><a th:href="'/chat/'+${customer.id}">消息中心</a></li>
            <li><a onclick="clearCookieByKey('token')">退出登录</a></li><!--退出登录时清除token即可-->
        </ul>

        <!--顶部分类频道-->
        <ul class="hide-on-med-and-down col right" th:each="channel:${channelList}">
            <li><a th:href="'/channel/'+${channel.getId()}" th:text="${channel.name}"></a></li>
        </ul>

    </div>
</nav>

<!--个人中心信息-->
<div class="container">
    <!--顶部个人信息-->
    <div class="card-panel">
        <div class="row">
            <!--左侧头像-->
            <div class="col s2">
                <img class="responsive-img circle" th:src="@{${customer.headImg}}" style="width: 100px;height: 100px" >
            </div>
            <!--中间卡片信息-->
            <div class="col s10 ">
                <div class="row">
                    <div class="col s12" ><h5 th:inline="text">[[${customer.name}]]<i class="material-icons">label</i> </h5></div>
                    <div class="col s12"><p th:inline="text">我的地址：[[${customer.province}+${customer.city}+${customer.address}]]<i class="material-icons">grade</i></p> </div>
                    <div class="col s4" th:text="'我的零钱：'+${customer.changes}"></div>
                    <div class="col s4" th:text="'我的积分：'+${customer.points}"></div>
                    <div class="col s4"><a class="waves-effect waves-light btn" th:href="'/customer/edit/'+${customer.id}">编辑个人资料</a></div>
                </div>
            </div>
        </div>
    </div>
    <!--中间订单信息-->
    <!--用户评论显示-->
    <div class="card-panel">
        <div class="section">
            我的订单  <i class="material-icons">comment</i>
        </div>
        <div class="divider"></div>
        <div th:each="order:${unFinishedOrderList}">
            <div class="section">
                <div class="row">
                    <div class="col s9">
                        <div class="row">
                            <div class="col s4">名称：<div th:text="${order.bookName}"></div> </div>
                            <div class="col s4">价格：<div  th:text="${order.bookPrice}"></div> </div>
                            <div class="col s4">数量：<div  th:text="${order.count}"></div></div>
                            <div class="col s4">状态：<div th:text="${order.state}"></div></div>
                        </div>
                    </div>
                    <div class="col s3">
                        <a class="waves-effect waves-light btn" th:onclick="finishOrder([[${order.id}]])">确认收货</a>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>

    </div>
</div>

</body>
<!--JQuery必须引入-->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script th:inline="javascript">
    $(".dropdown-button").dropdown();
    //通过name来删除cookie，设置过期时间为负时间即可
    function clearCookieByKey(name) {
        var exp = new Date();
        exp.setTime(exp.getTime()-1);
        document.cookie = name + "=" + escape("") + ";expires=" + exp.toGMTString() + ";path=/";
        window.location.href = '/index';
    }

    function finishOrder(orderId) {
        var url = '/customer/order/stateUpdate/'+orderId.toString();
        var id=[[${customer.id}]];
        Materialize.toast("正在处理", 5000, 'rounded');
        $.ajax({
            type: 'POST',//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: url,
            contentType: "application/json; charset=utf-8",
            data: null,
            success: function (result) {
                if(result.statusCode===200){
                    window.location.href="/customer/".concat(id.toString());
                }
                Materialize.toast(result.message, 5000, 'rounded');
            },
            error: function () {
                swal("数据库异常，请重试", {
                    icon: "error",
                });
            }
        });
    }
</script>
</html>