<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lsl商城-登录</title>
    <link rel="stylesheet" href="/mall/css/header.css">
    <link rel="stylesheet" href="/mall/css/common.css">
    <link rel="stylesheet" href="/mall/css/login.css">
    <link href="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.css" rel="stylesheet">
</head>
<body>

<div class="form center" style="padding-top: 7%;padding-right: 40%">
    <div class="login">
        <div class="login_center">
            <div class="login_top">
                <div class="left fl">登录</div>
                <div class="right fr">没有账号？<a href="/customer/registerPage" target="_self">立即注册</a></div>
                <div class="clear"></div>
                <div class="under-line center"></div>
            </div>
            <form id="loginForm" onsubmit="return false;" action="##">
                <div class="login_main center">
                    <div class="login-info">手机号:&nbsp;<input class="login-info-input" type="text" name="loginName"
                                                             id="loginName"
                                                             placeholder="请输入手机号--测试13849720276"/>
                    </div>
                    <div class="login-info">密&nbsp;&nbsp;&nbsp;&nbsp;码:&nbsp;<input class="login-info-input"
                                                                                    id="password"
                                                                                    type="password"
                                                                                    name="password"
                                                                                    placeholder="请输入密码--测试123456"/></div>
                    <div class="login-info">
                        验证码:&nbsp;
                        <input class="login-info-input verify-code" type="text" name="verifyCode"
                               placeholder="请输入验证码" id="verifyCode"/>
                        <img alt="单击图片刷新！" style="top: 14px;position: relative;" th:src="@{/common/mall/kaptcha}"
                             onclick="this.src='/common/mall/kaptcha?d='+new Date()*1">
                    </div>
                </div>
                <div class="login_submit">
                    <input class="submit" type="submit" onclick="login()" value="立即登录">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<!-- jQuery -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/mall/js/public.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    function login() {
        var loginName = $("#loginName").val();
        var password = $("#password").val();
        if (!validPassword(password)) {
            swal('请输入正确的密码格式(6-18位字符和数字组合)', {
                icon: "error",
            });
            return false;
        }
        var verifyCode = $("#verifyCode").val();

        //ajax验证，提交表单数据
        var data = {"loginName": loginName, "password": password,"verifyCode":verifyCode};
        var url = '/customer/login';
        $.ajax({
            type: 'POST',//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: url,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (result) {
                if (result.statusCode === 200) {
                    setCookie("token",result.message);
                    window.location.href = '/index';
                } else {
                    swal(result.message, {
                        icon: "error",
                    });
                }
                ;
            },
            error: function () {
                swal("数据库异常，请重试", {
                    icon: "error",
                });
            }
        });
    }
    /*用户登录，设置cookie*/
    function setCookie(name, value) {
        var Days = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
        document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString() + ";path=/";

    }




</script>
</html>